<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="title" content="Instalaciones ML, Placas y equipos solares" />
    <meta
      name="description"
      content="Instalaciones y reparaciones de placas solares, depósitos solares, termos, descalcificadores y osmosis en Málaga"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instalaciones ML, Placas y equipos solares</title>

    <link
      rel="canonical"
      href="https://instalacionesml.com/placas-solares-malaga"
    />
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
    <link
      rel="icon"
      type="image/ico"
      href="assets/images/favicon.ico"
      sizes="16x16 24x24 32x32 48x48 64x64"
    />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="assets/images/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="assets/images/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="assets/images/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="assets/images/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="assets/images/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="assets/images/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="assets/images/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="assets/images/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/images/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="assets/images/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="assets/images/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/images/favicon-16x16.png"
    />
    <link rel="manifest" href="assets/images/manifest.json" />
    <meta
      name="msapplication-TileImage"
      content="assets/images/ms-icon-144x144.png"
    />
    <link rel="stylesheet" href="bootstrap-css/bootstrap.min.css" />
    <link rel="stylesheet" href="icons/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/header.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" />

    <script src="jquery/jquery.js"></script>
    <script src="bootstrap-js/bootstrap.min.js"></script>
    <script>
      $(function () {
        $("#header").load("/views/header.html");
        $("#footer").load("/views/footer.html");
      });
    </script>
    <script src="js/home.js"></script>
  </head>

  <body>
    <div class="content">
      <div id="header"></div>

      <h1 class="text-center not-found">
        Error <span class="error-404">404</span>
      </h1>
      <h2 class="text-center not-found">
        Lo sentimos, pero la página que busca no existe o todavía no ha sido
        creada.
      </h2>

      <div class="card col-md-3 mx-auto mt-4">
        <div class="card-header bg-primary text-white">
          <h2>Enlaces de interés</h2>
        </div>
        <div class="card-body">
          <ul class="list-group card-text">
            <div class="row">
              <li class="list-group-item item-left">
                <i class="fa fa-angle-right"></i>
              </li>
              <li class="list-group-item item-right">
                <a class="list-href" href="/placas-solares-malaga">Inicio</a>
              </li>
            </div>
            <div class="row">
              <li class="list-group-item item-left">
                <i class="fa fa-angle-right"></i>
              </li>
              <li class="list-group-item item-right">
                <a class="list-href" href="/instalaciones-placas-solares"
                  >Instalaciones</a
                >
              </li>
            </div>
            <div class="row">
              <li class="list-group-item item-left">
                <i class="fa fa-angle-right"></i>
              </li>
              <li class="list-group-item item-right">
                <a class="list-href" href="/reparaciones-placas-solares"
                  >Reparaciones</a
                >
              </li>
            </div>
            <div class="row">
              <li class="list-group-item item-left">
                <i class="fa fa-angle-right"></i>
              </li>
              <li class="list-group-item item-right">
                <a class="list-href" href="/productos-energia-solar"
                  >Productos</a
                >
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div id="footer"></div>
  </body>
</html>
