<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="title" content="Instalaciones ML, Placas y equipos solares" />
    <meta
      name="description"
      content="Instalaciones y reparaciones de placas solares, depósitos solares, termos, descalcificadores y osmosis en Málaga"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instalaciones ML, Placas y equipos solares</title>

    <link
      rel="canonical"
      href="https://instalacionesml.com/placas-solares-malaga"
    />
    <link
      rel="shortcut icon"
      type="image/ico"
      href="assets/images/favicon.ico"
    />
    <link rel="stylesheet" href="bootstrap-css/bootstrap.min.css" />
    <link rel="stylesheet" href="icons/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/header.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" />

    <script src="jquery/jquery.js"></script>
    <script src="bootstrap-js/bootstrap.min.js"></script>
    <script>
      $(function () {
        $("#header").load("/views/header.html");
        $("#footer").load("/views/footer.html");
      });
    </script>
    <script src="js/home.js"></script>
  </head>

  <body>
    <div class="content">
      <div id="header"></div>

      <h1 class="text-center not-found">
        Error <span class="error-404">404</span>
      </h1>
      <h2 class="text-center not-found">
        Lo sentimos, pero la página que busca no existe o todavía no ha sido
        creada.
      </h2>

      <div class="card col-md-3 mx-auto mt-4">
        <div class="card-header bg-primary text-white">
          <h2>Enlaces de interés</h2>
        </div>
        <div class="card-body">
          <ul class="list-group card-text">
            <div class="row">
              <li class="list-group-item item-left">
                <i class="fa fa-angle-right"></i>
              </li>
              <li class="list-group-item item-right">
                <a class="list-href" href="/placas-solares-malaga">Inicio</a>
              </li>
            </div>
            <div class="row">
              <li class="list-group-item item-left">
                <i class="fa fa-angle-right"></i>
              </li>
              <li class="list-group-item item-right">
                <a class="list-href" href="/instalaciones-placas-solares"
                  >Instalaciones</a
                >
              </li>
            </div>
            <div class="row">
              <li class="list-group-item item-left">
                <i class="fa fa-angle-right"></i>
              </li>
              <li class="list-group-item item-right">
                <a class="list-href" href="/reparaciones-placas-solares"
                  >Reparaciones</a
                >
              </li>
            </div>
            <div class="row">
              <li class="list-group-item item-left">
                <i class="fa fa-angle-right"></i>
              </li>
              <li class="list-group-item item-right">
                <a class="list-href" href="/productos-energia-solar"
                  >Productos</a
                >
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div id="footer"></div>
  </body>
</html>
