<footer class="bg-dark text-white font-small pt-4">
  <div class="col-md-12 d-flex align-items-center text-center footer-text">
      <div class="col-md-6">
        <ul class="list-unstyled">
          <li>
            <a href="/instalaciones-placas-solares" class="footer-link">Instalaciones</a>
          </li>
          <li>
            <a href="/reparaciones-placas-solares" class="footer-link">Reparaciones</a>
          </li>
          <li>
            <a href="/productos-energia-solar" class="footer-link">Productos</a>
          </li>
        </ul>
      </div>

      <div class="col-md-6 footer-copyright footer-text">
        <a href="/aviso-legal" class="footer-link-small">Aviso legal</a> | © 2020 Copyright: <a class="footer-link-small" href="https://github.com/mestanza-93">Mestanza</a> 
      </div>
  </div>

</footer>