<footer class="page-footer bg-dark text-white font-small pt-4">
  <div class="container-fluid text-center footer-text">
      <div class="mb-3">
        <ul class="list-unstyled">
          <li>
            <a href="/instalaciones-placas-solares" class="footer-link">Instalaciones</a>
          </li>
          <li>
            <a href="/reparaciones-placas-solares" class="footer-link">Reparaciones</a>
          </li>
          <li>
            <a href="/productos" class="footer-link">Productos</a>
          </li>
        </ul>
      </div>
  </div>

  <div class="footer-legal-advice text-center py-2">
    <a href="/aviso-legal" class="footer-link">Aviso legal</a>
  </div>
  <div class="footer-copyright text-center py-2 footer-text">
    © 2020 Copyright: Pablo Mestanza
  </div>

</footer>