<html>
  <head>

    <!-- <meta charset="utf-8" />
    <meta name="title" content="InstalacionesML" />
    <meta name="description" content="Instalaciones y reparaciones Málaga" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->

    <script src="/jquery/jquery.js"></script>
    <script>
      $(function () {
        $("#includedContent").load("/views/base.html");
      });
    </script>

    <!-- <link rel="stylesheet" type="text/css" href="css/home.css" /> -->
  </head>
  <body>
    <div id="includedContent"></div>
    <div>
      <h1>Instalaciones ML</h1>
    </div>  
  </body>
</html>
