<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-KBSZF0FEKV"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-KBSZF0FEKV");
    </script>

    <meta http-equiv="Content-Type" content="charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="title" content="Instalación de placas solares en Málaga" />
    <meta
      name="description"
      content="Instalación de placas solares, depósitos solares, termos, descalcificadores y osmosis en Málaga al mejor precio."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instalación de placas solares en Málaga</title>

    <link
      rel="canonical"
      href="https://instalacionesml.com/instalaciones-placas-solares"
    />

    <meta
      property="og:title"
      content="Instalación de placas solares en Málaga"
    />
    <meta property="og:type" content="article" />
    <meta
      property="og:url"
      content="https://instalacionesml.com/instalaciones-placas-solares"
    />
    <meta
      property="og:image"
      content="https://instalacionesml.com/assets/images/logo_bgless.webp"
    />
    <meta
      property="og:description"
      content="Instalación de placas solares, depósitos solares, termos, descalcificadores y osmosis en Málaga al mejor precio."
    />

    <meta
      itemprop="image"
      content="https://instalacionesml.com/assets/images/logo_bgless.webp"
    />

    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
    <link rel="manifest" crossorigin="use-credentials" href="/site.webmanifest">
    <link rel="mask-icon" href="assets/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    <link rel="preload" href="icons/fonts/fontawesome-webfont.woff2?v=4.7.0" as="font" type="font/woff2" crossorigin />
    <link
      rel="stylesheet preload"
      type="text/css"
      href="bootstrap-css/bootstrap.min.css"
      as="style"
    />
    <link
      rel="stylesheet preload"
      type="text/css"
      href="icons/css/font-awesome.min.css"
      as="style"
    />
    <link
      rel="stylesheet preload"
      type="text/css"
      href="css/header.css"
      as="style"
    />
    <link
      rel="stylesheet preload"
      type="text/css"
      href="css/footer.css"
      as="style"
    />
    <link
      rel="stylesheet preload"
      type="text/css"
      href="css/home.css"
      as="style"
    />

    <script src="jquery/jquery.min.js"></script>
    <script src="bootstrap-js/bootstrap.min.js"></script>
    <script>
      $(function () {
        $("#header").load("/views/header.html");
        $("#footer").load("/views/footer.html");
      });
    </script>
    <script src="js/home.js"></script>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@graph": [
          {
            "@type": "WebSite",
            "@id": "https://instalacionesml.com/#website",
            "url": "https://instalacionesml.com/",
            "name": "Instalaciones ML",
            "potentialAction": {
              "@type": "SearchAction",
              "target": "https://instalacionesml.com/?s={search_term_string}",
              "query-input": "required name=search_term_string"
            }
          },
          {
            "@type": "WebPage",
            "@id": "https://instalacionesml.com/instalaciones-placas-solares/#webpage",
            "url": "https://instalacionesml.com/instalaciones-placas-solares/",
            "inLanguage": "es",
            "name": "Instalación de placas solares en Málaga",
            "isPartOf": { "@id": "https://instalacionesml.com/#website" },
            "datePublished": "2021-01-06T22:56:01+00:00",
            "dateModified": "2021-01-06T22:56:01+00:00",
            "description": "Instalación de placas solares, depósitos solares, termos, descalcificadores y osmosis en Málaga al mejor precio."
          }
        ]
      }
    </script>
  </head>

  <body>
    <div class="content">
      <div id="header"></div>

      <div
        id="carouselExampleIndicators"
        class="carousel slide col-md-12 my-3"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item">
            <img
              class="d-block w-100"
              src="assets/images/placa-left.webp"
              alt="Placas solares"
            />
          </div>
          <div class="carousel-item active">
            <img
              class="d-block w-100"
              src="assets/images/placa-right.webp"
              alt="Placas solares"
            />
          </div>
          <div class="carousel-item">
            <img
              class="d-block w-100"
              src="assets/images/placa-back.webp"
              alt="Placas solares"
            />
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
      </div>

      <div class="col-md-12 my-3">
        <div class="row">
          <div class="card col-md-6 my-3">
            <div class="card-header bg-primary text-white">Instalaciones</div>
            <div class="card-body">
              <p class="card-text text-center">Nos dedicamos principalmente a la instalación de placas solares ACS de <b>Promasol</b> y <b>Junkers</b> en Málaga.
              </p>
              <p class="card-text text-center">También realizamos instalaciones de los siguientes tipos de equipos solares:
              </p>
              <ul class="list-group card-text">
                <li class="list-group-item text-center">
                  <span class="list-span">Termos eléctricos</span>
                </li>
                <li class="list-group-item text-center">
                  <span class="list-span">Depósitos solares</span>
                </li>
                <li class="list-group-item text-center">
                  <span class="list-span">Descalcificadores</span>
                </li>
                <li class="list-group-item text-center">
                  <span class="list-span">Osmosis</span>
                </li>
              </ul>
            </div>
          </div>

          <div class="card col-md-6 my-3">
            <div class="card-header bg-primary text-white">Contacto</div>
            <div classs="card-footer">
              <p class="text-center mt-3">
                <i class="fa fa-phone phone" aria-hidden="true"></i
                ><b class="phone-number"> 640 532 175</b>
              </p>
              <p class="text-center">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <b class="email"> mestanza-79@hotmail.com</b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="footer"></div>
  </body>
</html>
