<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="title" content="Aviso legal - Instalaciones ML" />
    <meta
      name="description"
      content="Instalaciones y reparaciones placas y equipos en Málaga"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aviso legal - Instalaciones ML</title>

    <link rel="canonical" href="https://instalacionesml.com/aviso-legal" />
    <link
      rel="shortcut icon"
      type="image/ico"
      href="assets/images/favicon.ico"
    />
    <link rel="stylesheet" href="bootstrap-css/bootstrap.min.css" />
    <link rel="stylesheet" href="icons/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/header.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" />

    <script src="jquery/jquery.js"></script>
    <script src="bootstrap-js/bootstrap.min.js"></script>
    <script>
      $(function () {
        $("#header").load("/views/header.html");
        $("#footer").load("/views/footer.html");
      });
    </script>
    <script src="js/home.js"></script>
  </head>

  <body>
    <div class="content">
      <div id="header"></div>

      <div class="col-md-12 my-3">
        <div class="row">
          <div class="card col-md-12 my-3">
            <div class="card-header bg-primary text-white">Aviso legal</div>
            <div class="card-body">
              <p class="card-text">
                En este espacio, el USUARIO, podrá encontrar toda la información
                relativa a los términos y condiciones legales que definen las
                relaciones entre los usuarios y nosotros como responsables de
                esta web. Como usuario, es importante que conozcas estos
                términos antes de continuar tu navegación. Como responsable de
                esta web, asume el compromiso de procesar la información de
                nuestros usuarios y clientes con plenas garantías y cumplir con
                los requisitos nacionales y europeos que regulan la recopilación
                y uso de los datos personales de nuestros usuarios. Esta web,
                por tanto, cumple rigurosamente con el RGPD (REGLAMENTO (UE)
                2016/679 de protección de datos) y la LSSI-CE la Ley 34/2002, de
                11 de julio, de servicios de la sociedad de la información y de
                comercio electrónico.
              </p>

              <h3>CONDICIONES GENERALES DE USO</h3>

              <p class="card-text">
                Las presentes Condiciones Generales regulan el uso (incluyendo
                el mero acceso) de las páginas de la web, integrantes del sitio
                web de incluidos los contenidos y servicios puestos a
                disposición en ellas. Toda persona que acceda a la web,
                (“Usuario”) acepta someterse a las Condiciones Generales
                vigentes en cada momento del portal.
              </p>

              <h3>DERECHOS DE PROPIEDAD INTELECTUAL</h3>

              <p class="card-text">
                En virtud de lo dispuesto en los artículos 8 y 32.1, párrafo
                segundo, de la Ley de Propiedad Intelectual, quedan expresamente
                prohibidas la reproducción, la distribución y la comunicación
                pública, incluida su modalidad de puesta a disposición, de la
                totalidad o parte de los contenidos de esta página web, con
                fines comerciales, en cualquier soporte y por cualquier medio
                técnico, sin autorización. El usuario se compromete a respetar
                los derechos de Propiedad Intelectual e Industrial.
              </p>

              <p class="card-text">
                El usuario conoce y acepta que la totalidad del sitio web,
                conteniendo sin carácter exhaustivo el texto, software,
                contenidos (incluyendo estructura, selección, ordenación y
                presentación de los mismos) podcast, fotografías, material
                audiovisual y gráficos, está protegida por marcas, derechos de
                autor y otros derechos legítimos, de acuerdo con los tratados
                internacionales en los que España es parte y otros derechos de
                propiedad y leyes de España. En el caso de que un usuario o un
                tercero consideren que se ha producido una violación de sus
                legítimos derechos de propiedad intelectual por la introducción
                de un determinado contenido en la web, deberá notificar dicha
                circunstancia indicando lo siguiente: Datos personales del
                interesado titular de los derechos presuntamente infringidos, o
                indicar la representación con la que actúa en caso de que la
                reclamación la presente un tercero distinto del interesado.
                Señalar los contenidos protegidos por los derechos de propiedad
                intelectual y su ubicación en la web, la acreditación de los
                derechos de propiedad intelectual señalados y declaración
                expresa en la que el interesado se responsabiliza de la
                veracidad de las informaciones facilitadas en la notificación
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer"></div>
  </body>
</html>
