<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-KBSZF0FEKV"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-KBSZF0FEKV");
    </script>
    <meta http-equiv="Content-Type" content="charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="title" content="Productos de energía solar en Málaga" />
    <meta
      name="description"
      content="Instalación y reparación de productos de energía solar en Málaga. Placas solares, depósitos solares, termos eléctricos, descalcificadores y osmosis al mejor precio."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos de energía solar en Málaga</title>

    <meta property="og:title" content="Productos de energía solar en Málaga" />
    <meta property="og:type" content="article" />
    <meta
      property="og:url"
      content="https://instalacionesml.com/productos-energia-solar"
    />
    <meta
      property="og:image"
      content="https://instalacionesml.com/assets/images/logo_bgless.webp"
    />
    <meta
      property="og:description"
      content="Instalación y reparación de productos de energía solar en Málaga. Placas solares, depósitos solares, termos eléctricos, descalcificadores y osmosis al mejor precio."
    />

    <meta
      itemprop="image"
      content="https://instalacionesml.com/assets/images/logo_bgless.webp"
    />

    <link
      rel="canonical"
      href="https://instalacionesml.com/productos-energia-solar"
    />

    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
    <link rel="manifest" crossorigin="use-credentials" href="/site.webmanifest">
    <link rel="mask-icon" href="assets/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet preload" href="bootstrap-css/bootstrap.min.css" as="style"/>
    <link rel="stylesheet preload" href="icons/css/font-awesome.min.css" as="style"/>
    <link rel="stylesheet preload" type="text/css" href="css/header.css" as="style"/>
    <link rel="stylesheet preload" type="text/css" href="css/footer.css" as="style"/>
    <link rel="stylesheet preload" type="text/css" href="css/home.css" as="style"/>

    <script src="jquery/jquery.js"></script>
    <script src="bootstrap-js/bootstrap.min.js"></script>
    <script>
      $(function () {
        $("#header").load("/views/header.html");
        $("#footer").load("/views/footer.html");
      });
    </script>
    <script src="js/home.js"></script>
  </head>

  <body>
    <div class="content">
      <div id="header"></div>

      <div class="col-md-12 my-3">
        <div class="row">
          <div class="card col-md-4 my-3">
            <div class="card-header text-blue">Placas solares</div>
            <div class="card-body">
              <img
                class="w-100"
                src="assets/images/placa-product.webp"
                alt="Placas solares"
              />
            </div>
          </div>
          <div class="card col-md-4 my-3">
            <div class="card-header text-blue">Depósitos solares</div>
            <div class="card-body">
              <img
                class="w-100"
                src="assets/images/deposito-solar.webp"
                alt="Depósitos solares"
              />
            </div>
          </div>
          <div class="card col-md-4 my-3">
            <div class="card-header text-blue">Termos eléctricos</div>
            <div class="card-body">
              <img
                class="w-100"
                src="assets/images/termo.webp"
                alt="Termos eléctricos"
              />
            </div>
          </div>
          <div class="card col-md-4 my-3">
            <div class="card-header text-blue">Descalcificadores</div>
            <div class="card-body">
              <img
                class="w-100"
                src="assets/images/descalcificador.webp"
                alt="Descalcificadores"
              />
            </div>
          </div>
          <div class="card col-md-4 my-3">
            <div class="card-header text-blue">Osmosis</div>
            <div class="card-body">
              <img
                class="w-100"
                src="assets/images/osmosis.webp"
                alt="Osmosis"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer"></div>
  </body>
</html>
