.logo {
    width: 100%;
    height: auto;
}

.nav-link {
    font-size: x-large;
    font-weight: bold;
}

.contact-link {
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
}

.dropdown-item {
    color: #868e96;
}

.dropdown-menu {
    border: none;
}