.phone-number {
  color: #0275d8;
  font-size: xx-large;
  font-weight: bold;
}

.card {
  border: none;
}

.card-body {
  border-color:#0275d8;
}

.fa-phone {
  font-size: xx-large;
  font-weight: bold;
}

.fa-envelope {
  font-size: xx-large;
  font-weight: bold
}

.email {
  color: #0275d8;
  font-size: large;
  font-weight: bold;
}

.card-header {
  font-size: x-large;
  text-align: center;
}

.card-text {
  font-size: large;
}

.carousel-title {
  color: #0275d8;
}